@media screen and (min-width: 600px) {
body{
    max-width: 1200px;
    margin: 0 auto;
}
.hamburger {
    display: none;
    grid-template-columns: 24px auto;
}
.navigation {
    display: block;
    border-bottom: solid 1px #ccc;
  }

.navigation ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navigation a{
   border: none;
   
}
main div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}
main div section{
    border: solid 1px #ccc;
    text-align: center;
}

}