
*{
font-family: josefin sans, sans-serif;
box-sizing: border-box;

}

header{
    display: grid;
    grid-template-columns: 44px auto 100px;
    justify-items: center;
    align-items: center;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ccc;
    column-gap: 8px;
}

header img{
    display: block;
    width: 100%;
    height: auto;
}

header span{
    font-size: 1.2em;
    font-weight: bold;
}

.hamburger{
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}   

.hamburger::before{
content: "\2630";
font-size: 2rem;
}

.hamburger.show::before{
content: "\00D7";
}

.navigation {
  display: none;
}

.navigation.show {
  display: block;
}
.navigation ul {
 
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.navigation a{
    display: block;
    padding: .8rem 10px;
    color: black;
    text-decoration: none;
    border-bottom: solid 1px #ccc;
}
.navigation li.current{
    background-color: #d7d9de;
}

.navigation a:hover{
    background-color:#00677b;;
}
footer{
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    padding: 10px 0;
    border-top: solid 1px #ccc;
}

footer img{
    width: 20px;
    height: auto;
    margin: 0 5px;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a{
    display: flex;
    height: 44px;
    width: 44px;
    border: solid 1px #ccc;
    border-radius: 22px;
    justify-content: center;
}
.course-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.course-cards p{
border: solid 1px #ccc;
padding: 10px;
}
.Certificate-Courses ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}

.Certificate-Courses ul li{
    border: solid 1px #ccc;
    padding: 10px;
    width: 30%;
    text-align: center;
    background-color: rgb(206, 206, 206);
}
.Certificate-Courses ul li button{
    cursor: pointer;
    width: 100%;
}

.Certificate-Courses ul li :hover{
background: #00677b;
}
h2{
    text-align: center;
    margin-top: 20px;
    border:solid 1px #ccc;
    background-color: rgb(206, 206, 206);
}

main div section img{
    width: 300px;
    height: auto;
}
main  section p{
    text-align: center;
    padding: 0 10px 10px 10px;
}
.course-card{
    text-align: center;
    background: #f4f4f4;
}

.footer-info{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.course-card-completed{
    background-color: #c8e6c9;
}